<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- add a Atento Team Services feed -->
     <add key="Administrativo" value="https://atentoalm.pkgs.visualstudio.com/_packaging/Administrativo/nuget/v3/index.json" />
	 <add key="Automacao" value="https://atentoalm.pkgs.visualstudio.com/_packaging/Automacao/nuget/v3/index.json" />
	 <add key="BackofficeTools" value="https://atentoalm.pkgs.visualstudio.com/_packaging/BackofficeTools/nuget/v3/index.json" />
	 <add key="ContactCenter" value="https://atentoalm.pkgs.visualstudio.com/_packaging/ContactCenter/nuget/v3/index.json" />
	 <add key="DigitalTrade" value="https://atentoalm.pkgs.visualstudio.com/_packaging/DigitalTrade/nuget/v3/index.json" />
    <!-- also get packages from the NuGet Gallery -->
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
    <config>
    <add key="http_proxy" value="http://proxyservidores.atento.br:6666" />
    <add key="no_proxy" value="atento.com.br" />
  </config>
</configuration>